[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
cryptofeed = "*"
click = "*"
pandas = "*"
aiopubsub = "*"
aiorun = "*"
loguru = "*"
arctic = "*"
pyti = "*"
click-datetime = "*"

[requires]
python_version = "3.7"
